html,
body {
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    height: 100%;
    background-color: #a5a5a5;
}

h1 {text-align: center; color: cyan;}
p {text-align: center; color: red;}